In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('WHO-LEx-data.csv')
both_sexes = []
female=[]
male=[]

In [3]:
df2 = df.T
df2

,0,1,2,3,4,5,6,7,8,9,...,539,540,541,542,543,544,545,546,547,548
country,Afghanistan,Afghanistan,Afghanistan,Albania,Albania,Albania,Algeria,Algeria,Algeria,Angola,...,Vietnam,Yemen,Yemen,Yemen,Zambia,Zambia,Zambia,Zimbabwe,Zimbabwe,Zimbabwe
Dim1,Both sexes,Female,Male,Both sexes,Female,Male,Both sexes,Female,Male,Both sexes,...,Male,Both sexes,Female,Male,Both sexes,Female,Male,Both sexes,Female,Male
2019_LEx,63.21,63.16,63.29,78.0,79.91,76.25,77.13,78.12,76.23,63.06,...,69.56,66.63,68.92,64.41,62.45,65.37,59.54,60.68,63.61,57.51

In [4]:
for i in df['Dim1'].index:
    if i % 3 == 0:
        both_sexes.append(df['2019_LEx'][i])
both_sexes

[63.21,
 78.0,
 77.13,
 63.06,
 76.45,
 76.58,
 76.03,
 83.04,
 81.65,
 71.43,
 73.21,
 75.81,
 74.25,
 76.03,
 74.81,
 81.42,
 74.41,
 63.43,
 73.11,
 72.14,
 76.75,
 62.25,
 75.9,
 74.32,
 75.07,
 62.7,
 63.84,
 74.03,
 70.12,
 62.36,
 82.24,
 53.1,
 59.63,
 80.74,
 77.43,
 79.31,
 67.39,
 64.74,
 80.85,
 62.92,
 78.64,
 77.76,
 83.14,
 79.13,
 72.63,
 62.35,
 81.32,
 65.81,
 72.84,
 78.45,
 71.82,
 75.03,
 62.19,
 64.08,
 78.88,
 57.73,
 68.7,
 68.01,
 81.61,
 82.48,
 66.47,
 65.47,
 73.28,
 81.72,
 66.28,
 81.1,
 72.88,
 72.02,
 61.01,
 60.22,
 65.69,
 64.05,
 71.94,
 76.44,
 82.33,
 70.79,
 71.31,
 77.35,
 72.42,
 81.84,
 82.62,
 82.97,
 75.98,
 84.26,
 77.87,
 73.95,
 66.09,
 59.42,
 80.97,
 74.18,
 68.51,
 75.38,
 76.44,
 50.75,
 64.08,
 75.78,
 75.99,
 82.41,
 65.35,
 65.62,
 74.72,
 79.59,
 62.8,
 81.89,
 68.38,
 74.07,
 76.01,
 63.03,
 73.26,
 68.1,
 75.88,
 72.99,
 58.14,
 69.13,
 64.58,
 70.88,
 81.79,
 81.96,
 75.04,
 63.29,
 62.62,
 74.82,
 82.62,
 73.9,
 65.61,
 79.29,
 65.3,
 75.81,
 79.9,
 70.43,
 78.27,
 81.57,
 77.17,
 75.57,
 73.23,
 69.1,
 74.33,
 73.22,
 70.45,
 70.42,
 74.31,
 68.58,
 75.87,
 73.34,
 60.77,
 83.22,
 78.23,
 81.31,
 65.25,
 56.47,
 65.25,
 83.3,
 62.79,
 83.22,
 76.87,
 69.15,
 71.48,
 82.4,
 83.45,
 72.67,
 69.5,
 67.34,
 77.7,
 69.62,
 64.27,
 72.57,
 76.13,
 77.04,
 78.62,
 69.75,
 66.69,
 73.02,
 76.08,
 81.4,
 78.5,
 77.1,
 73.01,
 65.31,
 73.95,
 73.74,
 66.63,
 62.45,
 60.68]

In [5]:
for i in df['Dim1'].index:
    if i % 3 == 1:
        female.append(df['2019_LEx'][i])
female

[63.16,
 79.91,
 78.12,
 65.52,
 77.96,
 79.5,
 79.16,
 84.84,
 83.78,
 74.09,
 76.59,
 77.02,
 75.64,
 77.66,
 79.62,
 83.51,
 77.77,
 65.66,
 74.39,
 73.13,
 79.09,
 65.46,
 79.39,
 75.36,
 78.6,
 65.23,
 66.14,
 77.94,
 72.75,
 64.5,
 84.05,
 56.26,
 61.34,
 83.25,
 80.49,
 81.87,
 68.88,
 65.61,
 83.44,
 65.81,
 81.6,
 80.25,
 85.12,
 81.93,
 75.69,
 64.82,
 83.02,
 67.78,
 76.19,
 80.5,
 74.14,
 79.13,
 63.58,
 67.07,
 82.6,
 63.18,
 70.52,
 70.28,
 84.04,
 85.09,
 69.73,
 67.65,
 77.76,
 84.77,
 69.16,
 83.57,
 75.33,
 75.04,
 62.25,
 62.98,
 69.39,
 64.76,
 73.16,
 79.59,
 83.87,
 72.17,
 73.3,
 79.09,
 74.97,
 83.48,
 84.36,
 84.9,
 77.68,
 86.94,
 78.78,
 77.61,
 68.44,
 62.8,
 83.95,
 77.31,
 70.95,
 79.84,
 79.15,
 54.24,
 65.0,
 77.34,
 80.43,
 84.2,
 66.6,
 68.93,
 77.08,
 80.76,
 63.4,
 83.8,
 68.73,
 77.32,
 78.86,
 66.05,
 77.12,
 72.76,
 78.65,
 74.31,
 61.73,
 72.2,
 68.45,
 72.75,
 83.15,
 83.52,
 77.93,
 64.56,
 64.1,
 76.87,
 84.13,
 75.26,
 66.72,
 82.06,
 67.36,
 78.85,
 81.34,
 73.6,
 81.93,
 84.4,
 76.63,
 79.26,
 78.0,
 71.24,
 77.71,
 75.32,
 71.85,
 71.99,
 76.15,
 70.14,
 78.28,
 77.15,
 61.9,
 85.45,
 81.44,
 84.06,
 67.87,
 59.22,
 68.29,
 86.09,
 64.84,
 85.68,
 79.81,
 70.76,
 74.63,
 83.97,
 85.08,
 74.26,
 71.55,
 69.26,
 81.04,
 71.41,
 67.23,
 75.61,
 79.92,
 79.19,
 80.67,
 72.97,
 70.1,
 77.81,
 78.42,
 82.99,
 80.73,
 80.56,
 75.21,
 68.32,
 78.17,
 78.11,
 68.92,
 65.37,
 63.61]

In [6]:
for i in df['Dim1'].index:
    if i % 3 == 2:
        male.append(df['2019_LEx'][i])
male

[63.29,
 76.25,
 76.23,
 60.7,
 74.88,
 73.51,
 72.49,
 81.25,
 79.44,
 68.78,
 69.85,
 75.04,
 72.99,
 74.32,
 69.65,
 79.29,
 71.36,
 61.19,
 72.03,
 71.15,
 74.38,
 58.95,
 72.45,
 73.39,
 71.65,
 60.06,
 61.55,
 69.9,
 67.23,
 60.29,
 80.4,
 50.21,
 57.95,
 78.09,
 74.73,
 76.69,
 65.92,
 63.81,
 78.31,
 60.53,
 75.54,
 75.37,
 81.12,
 76.3,
 69.29,
 60.0,
 79.59,
 64.1,
 69.76,
 76.41,
 69.59,
 70.58,
 60.87,
 61.3,
 74.7,
 53.36,
 66.9,
 65.93,
 79.16,
 79.76,
 63.59,
 63.42,
 68.79,
 78.72,
 63.66,
 78.64,
 70.63,
 68.95,
 59.48,
 57.36,
 62.45,
 63.34,
 70.67,
 73.09,
 80.81,
 69.52,
 69.4,
 75.69,
 69.93,
 80.2,
 80.79,
 80.91,
 74.36,
 81.49,
 77.02,
 69.98,
 63.7,
 56.14,
 79.25,
 70.75,
 66.19,
 70.58,
 74.03,
 47.66,
 63.15,
 74.21,
 71.23,
 80.62,
 64.1,
 62.31,
 72.61,
 78.63,
 62.2,
 79.94,
 68.08,
 70.95,
 73.13,
 60.35,
 69.26,
 63.82,
 73.15,
 71.68,
 54.46,
 65.91,
 60.58,
 68.88,
 80.4,
 80.36,
 72.07,
 62.06,
 61.2,
 72.84,
 81.08,
 72.97,
 64.59,
 76.65,
 63.4,
 73.08,
 78.46,
 67.4,
 74.53,
 78.56,
 78.03,
 71.95,
 68.18,
 66.88,
 71.3,
 71.32,
 69.16,
 68.79,
 73.11,
 66.82,
 73.46,
 69.98,
 59.6,
 81.05,
 74.84,
 78.59,
 62.87,
 54.01,
 62.2,
 80.32,
 60.83,
 80.68,
 73.8,
 67.55,
 68.5,
 80.83,
 81.75,
 71.18,
 67.58,
 65.37,
 74.36,
 67.93,
 61.52,
 69.81,
 72.54,
 74.88,
 76.44,
 66.48,
 63.24,
 68.0,
 75.1,
 79.79,
 76.28,
 73.48,
 70.76,
 62.66,
 69.91,
 69.56,
 64.41,
 59.54,
 57.51]

In [8]:
both_sexes.to_csv("both_sexes.csv")
female.to_csv("female.csv")
male.to_csv("male.csv")

AttributeError: 'list' object has no attribute 'to_csv'

In [9]:
new_df = pd.Dataframe(data = both_sexes, female, male)

SyntaxError: positional argument follows keyword argument (839401056.py, line 1)

In [10]:
df= df.drop_duplicates(subset=['country'])
df.to_csv('both_sexes.csv')

In [11]:
df_comma = pd.read_csv('WHO-LEx-data-converted.csv')
df_comma

     Unnamed: 0              country  Both_sexes   Female     Male
0             0          Afghanistan       63.21   63.16,   63.29,
1             3              Albania       78.00   79.91,   76.25,
2             6              Algeria       77.13   78.12,   76.23,
3             9               Angola       63.06   65.52,    60.7,
4            12  Antigua and Barbuda       76.45   77.96,   74.88,
..          ...                  ...         ...      ...      ...
178         534            Venezuela       73.95   78.17,   69.91,
179         537              Vietnam       73.74   78.11,   69.56,
180         540                Yemen       66.63   68.92,   64.41,
181         543               Zambia       62.45   65.37,   59.54,
182         546             Zimbabwe       60.68    63.61    57.51

[183 rows x 5 columns]

In [12]:
df_comma.replace(',','', regex=True, inplace=True)

In [13]:
df_comma

     Unnamed: 0              country  Both_sexes  Female    Male
0             0          Afghanistan       63.21   63.16   63.29
1             3              Albania       78.00   79.91   76.25
2             6              Algeria       77.13   78.12   76.23
3             9               Angola       63.06   65.52    60.7
4            12  Antigua and Barbuda       76.45   77.96   74.88
..          ...                  ...         ...     ...     ...
178         534            Venezuela       73.95   78.17   69.91
179         537              Vietnam       73.74   78.11   69.56
180         540                Yemen       66.63   68.92   64.41
181         543               Zambia       62.45   65.37   59.54
182         546             Zimbabwe       60.68   63.61   57.51

[183 rows x 5 columns]

In [16]:
df_comma.to_csv('WHO-LEx-data-separated.csv')