In [1]:
# Import our dependencies
import pandas as pd

In [2]:
#  Import and read the input csv
he_df = pd.read_csv("../Cluster_Analysis_Data/health_expenditure.csv")
he_df = he_df.dropna()
he_df

    Country Name                                        Series Name    2019
0    Afghanistan  Govt HE per capita, PPP (current international $)   23.38
1    Afghanistan  Private HE per capita, PPP (current internatio...  226.73
2    Afghanistan           government health expenditure (% of GDP)    1.08
3        Albania  Govt HE per capita, PPP (current international $)  392.53
4        Albania  Private HE per capita, PPP (current internatio...  324.65
..           ...                                                ...     ...
559       Zambia  Private HE per capita, PPP (current internatio...   31.21
560       Zambia           government health expenditure (% of GDP)    2.13
561     Zimbabwe  Govt HE per capita, PPP (current international $)   36.75
562     Zimbabwe  Private HE per capita, PPP (current internatio...  110.07
563     Zimbabwe           government health expenditure (% of GDP)    1.36

[564 rows x 3 columns]

In [3]:
govt_he = []
private_he =[]
govt_he_gdp =[]

In [4]:
for i in he_df['Series Name'].index:
    if i % 3 == 0:
        govt_he.append(he_df['2019'][i])
govt_he

[23.38,
 392.53,
 487.79,
 2582.32,
 73.39,
 594.02,
 1371.24,
 200.49,
 3795.18,
 4478.39,
 192.3,
 1157.54,
 1113.39,
 22.96,
 461.27,
 843.6,
 4489.07,
 311.42,
 18.57,
 317.91,
 449.33,
 1014.91,
 881.15,
 610.22,
 1321.34,
 1063.33,
 51.18,
 20.63,
 243.12,
 76.82,
 4.57,
 3873.7,
 8.29,
 12.02,
 1234.31,
 492.72,
 865.7,
 27.1,
 6.42,
 30.71,
 1186.82,
 52.22,
 1767.7,
 2320.95,
 1689.86,
 2833.72,
 5010.26,
 55.89,
 435.35,
 511.84,
 577.26,
 161.77,
 416.88,
 129.11,
 14.41,
 1947.35,
 309.73,
 17.05,
 356.57,
 3776.04,
 4136.52,
 260.66,
 24.17,
 395.99,
 5237.68,
 77.75,
 1164.06,
 364.03,
 203.31,
 26.94,
 11.89,
 400.41,
 15.81,
 170.63,
 1465.64,
 4671.95,
 69.18,
 175.33,
 429.78,
 238.63,
 4482.19,
 2154.73,
 2955.3,
 390.1,
 3846.54,
 408.1,
 458.82,
 95.46,
 203.27,
 2096.19,
 2488.13,
 133.88,
 78.44,
 1270.77,
 631.27,
 136.54,
 20.28,
 1820.42,
 5802.13,
 21.0,
 26.63,
 591.38,
 1303.91,
 31.82,
 2549.1,
 243.95,
 70.1,
 694.32,
 547.78,
 103.19,
 513.42,
 2616.83,
 274.4,
 1206.73,
 169.28,
 22.31,
 35.74,
 406.79,
 1199.44,
 43.9,
 4117.34,
 3354.42,
 289.07,
 25.87,
 25.88,
 774.57,
 6193.97,
 1003.43,
 52.95,
 1305.54,
 1646.86,
 60.35,
 437.06,
 447.55,
 153.96,
 1575.14,
 2142.55,
 1991.38,
 1527.93,
 1042.05,
 58.22,
 314.68,
 3335.83,
 107.27,
 1929.67,
 36.25,
 983.85,
 1068.25,
 21.99,
 2059.42,
 1786.83,
 2626.33,
 97.98,
 697.67,
 10.27,
 2813.43,
 268.96,
 742.04,
 331.04,
 411.33,
 46.4,
 1210.01,
 5282.08,
 2739.74,
 68.5,
 40.62,
 524.05,
 123.17,
 18.93,
 192.78,
 843.69,
 450.88,
 924.69,
 191.41,
 795.74,
 13.96,
 406.32,
 1567.03,
 4042.84,
 5552.6,
 1538.37,
 173.84,
 63.12,
 177.03,
 244.78,
 11.2,
 77.16,
 36.75]

In [5]:
for i in he_df['Series Name'].index:
    if i % 3 == 1:
        private_he.append(he_df['2019'][i])
private_he

[226.73,
 324.65,
 262.32,
 1133.94,
 98.99,
 421.98,
 822.13,
 1399.6,
 1499.29,
 1655.74,
 411.81,
 1058.74,
 767.19,
 92.78,
 558.42,
 353.35,
 1357.83,
 120.98,
 43.46,
 84.13,
 174.32,
 439.12,
 171.99,
 885.41,
 79.57,
 734.18,
 51.89,
 25.32,
 101.27,
 218.66,
 112.31,
 1646.95,
 48.09,
 43.2,
 1189.84,
 387.46,
 338.59,
 111.91,
 18.42,
 44.16,
 449.35,
 99.98,
 399.92,
 275.17,
 1306.3,
 643.3,
 1005.2,
 26.64,
 235.17,
 618.65,
 356.29,
 414.29,
 235.62,
 472.78,
 35.35,
 668.93,
 141.32,
 32.44,
 149.42,
 933.87,
 1356.01,
 169.08,
 24.38,
 569.08,
 1500.97,
 93.68,
 1251.41,
 514.66,
 321.22,
 79.74,
 127.33,
 255.02,
 69.6,
 253.52,
 690.27,
 964.46,
 140.06,
 180.96,
 438.27,
 242.14,
 1527.88,
 1102.21,
 1042.71,
 198.23,
 740.5,
 364.36,
 306.67,
 73.73,
 7.19,
 1425.13,
 373.07,
 120.43,
 88.89,
 822.02,
 646.08,
 44.46,
 74.63,
 966.32,
 864.79,
 25.82,
 19.48,
 541.61,
 313.31,
 31.1,
 1489.86,
 93.69,
 94.74,
 777.32,
 563.16,
 10.42,
 317.57,
 463.09,
 185.26,
 776.88,
 252.18,
 16.77,
 172.29,
 420.21,
 63.89,
 111.98,
 2128.99,
 1084.9,
 172.49,
 35.56,
 115.73,
 538.98,
 1023.42,
 157.35,
 100.85,
 831.68,
 841.78,
 10.38,
 512.99,
 262.68,
 223.7,
 630.18,
 1372.73,
 745.44,
 378.68,
 661.99,
 38.28,
 46.88,
 721.33,
 43.59,
 859.89,
 82.58,
 674.54,
 400.47,
 87.94,
 2042.85,
 480.24,
 1002.68,
 4.51,
 476.55,
 18.09,
 1170.5,
 292.86,
 764.47,
 359.75,
 199.35,
 144.72,
 460.2,
 940.58,
 5792.76,
 178.96,
 22.82,
 206.43,
 28.76,
 95.18,
 45.45,
 990.11,
 335.33,
 262.05,
 871.37,
 26.13,
 39.6,
 494.67,
 1429.33,
 1043.78,
 5368.41,
 771.47,
 243.95,
 12.92,
 207.32,
 308.67,
 90.25,
 31.21,
 110.07]

In [6]:
for i in he_df['Series Name'].index:
    if i % 3 == 2:
        govt_he_gdp.append(he_df['2019'][i])
govt_he_gdp

[1.08,
 2.82,
 4.06,
 4.66,
 1.04,
 2.6,
 5.93,
 1.41,
 7.1,
 7.62,
 1.28,
 2.99,
 2.37,
 0.46,
 2.82,
 4.13,
 8.18,
 4.17,
 0.54,
 2.65,
 4.93,
 6.22,
 4.75,
 3.91,
 2.04,
 4.22,
 2.29,
 2.67,
 3.25,
 1.7,
 0.12,
 7.61,
 0.82,
 0.75,
 4.75,
 3.0,
 5.54,
 0.83,
 0.56,
 0.78,
 5.28,
 0.96,
 5.69,
 10.13,
 3.93,
 6.39,
 8.29,
 0.97,
 3.52,
 2.66,
 4.83,
 1.32,
 4.55,
 0.67,
 0.78,
 5.01,
 3.44,
 0.74,
 2.5,
 7.34,
 8.33,
 1.67,
 1.04,
 2.72,
 9.09,
 1.38,
 3.77,
 2.06,
 2.39,
 0.9,
 0.53,
 2.93,
 0.52,
 2.85,
 4.32,
 7.16,
 0.99,
 1.42,
 3.32,
 2.21,
 4.98,
 4.83,
 6.41,
 3.98,
 9.01,
 3.88,
 1.67,
 2.11,
 8.45,
 4.86,
 4.78,
 2.31,
 0.96,
 3.98,
 4.24,
 4.91,
 1.36,
 4.56,
 4.61,
 1.19,
 2.41,
 2.0,
 6.39,
 1.31,
 5.18,
 6.73,
 1.24,
 2.92,
 2.68,
 3.24,
 3.81,
 1.3,
 2.13,
 5.07,
 2.12,
 1.67,
 0.74,
 3.99,
 8.44,
 1.1,
 6.68,
 7.36,
 5.12,
 2.02,
 0.48,
 4.28,
 9.03,
 3.52,
 1.08,
 6.82,
 5.01,
 1.33,
 3.3,
 3.28,
 1.66,
 4.6,
 5.81,
 2.12,
 4.6,
 3.45,
 2.56,
 4.62,
 5.25,
 2.62,
 3.93,
 1.03,
 5.06,
 3.78,
 1.23,
 2.05,
 5.48,
 6.17,
 3.57,
 5.35,
 0.99,
 6.45,
 1.93,
 2.66,
 2.05,
 3.15,
 1.04,
 7.01,
 9.22,
 3.63,
 1.94,
 1.56,
 2.72,
 4.0,
 0.86,
 2.89,
 3.23,
 3.98,
 3.38,
 1.18,
 17.8,
 0.58,
 3.18,
 2.24,
 8.07,
 8.52,
 6.23,
 2.34,
 1.92,
 2.47,
 2.3,
 0.43,
 2.13,
 1.36]

In [7]:
he_df = he_df.drop_duplicates(subset=['Country Name'])
he_df

      Country Name                                        Series Name     2019
0      Afghanistan  Govt HE per capita, PPP (current international $)    23.38
3          Albania  Govt HE per capita, PPP (current international $)   392.53
6          Algeria  Govt HE per capita, PPP (current international $)   487.79
9          Andorra  Govt HE per capita, PPP (current international $)  2582.32
12          Angola  Govt HE per capita, PPP (current international $)    73.39
..             ...                                                ...      ...
549  Venezuela, RB  Govt HE per capita, PPP (current international $)   177.03
552        Vietnam  Govt HE per capita, PPP (current international $)   244.78
555    Yemen, Rep.  Govt HE per capita, PPP (current international $)    11.20
558         Zambia  Govt HE per capita, PPP (current international $)    77.16
561       Zimbabwe  Govt HE per capita, PPP (current international $)    36.75

[188 rows x 3 columns]

In [8]:
# Create a list of health expenditure countries
he_countries = he_df['Country Name'].tolist()
he_countries

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, Rep.',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Vietnam',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [9]:
# Build a new DataFrame from the component lists

health_ex_df = pd.DataFrame()
health_ex_df['country'] = he_countries
health_ex_df['govt_he'] = govt_he
health_ex_df['private_he'] = private_he
health_ex_df['govt_he_gdp'] = govt_he_gdp

health_ex_df

           country  govt_he  private_he  govt_he_gdp
0      Afghanistan    23.38      226.73         1.08
1          Albania   392.53      324.65         2.82
2          Algeria   487.79      262.32         4.06
3          Andorra  2582.32     1133.94         4.66
4           Angola    73.39       98.99         1.04
..             ...      ...         ...          ...
183  Venezuela, RB   177.03      207.32         2.47
184        Vietnam   244.78      308.67         2.30
185    Yemen, Rep.    11.20       90.25         0.43
186         Zambia    77.16       31.21         2.13
187       Zimbabwe    36.75      110.07         1.36

[188 rows x 4 columns]

In [11]:
# Open the master list of countries
countries_df = pd.read_csv('../master_country_list/country_profile_urls.csv')
#countries_df = countries_df.drop(['profile_url'], 1)

In [12]:
country_list = countries_df['country'].tolist()
country_list

['Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 "CÃ´te d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong (China)',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyz Republic',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Taiwan (China)',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'TÃ¼rkiye',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Kingdom',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [13]:
# clean the HE data based on the SS country list
no_match = []

for country in he_countries:
    if country in country_list:
        continue
    else:
        no_match.append(country)

In [14]:
# Likely need to do manual country name clean-up for accented characters and abbreviations.
no_match

['Afghanistan',
 'Bahamas, The',
 'Bosnia and Herzegovina',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 "Cote d'Ivoire",
 'Egypt, Arab Rep.',
 'Eritrea',
 'Gambia, The',
 'Iran, Islamic Rep.',
 'Iraq',
 'Korea, Rep.',
 'Lao PDR',
 'Maldives',
 'Micronesia, Fed. Sts.',
 'Mongolia',
 'Montenegro',
 'Nauru',
 'Slovak Republic',
 'South Sudan',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Timor-Leste',
 'Tonga',
 'Turkiye',
 'Tuvalu',
 'United Arab Emirates',
 'United States',
 'Venezuela, RB',
 'Yemen, Rep.']

In [15]:
# Write the HE data to CSV to adjust relevant country names
health_ex_df.to_csv('../Cluster_Analysis_Data/health_expenditure-clean.csv', index=False)

In [16]:
# Read in the adjusted content
he_df = pd.read_csv("../Cluster_Analysis_Data/health_expenditure-clean.csv")
he_df

         country  govt_he  private_he  govt_he_gdp
0    Afghanistan    23.38      226.73         1.08
1        Albania   392.53      324.65         2.82
2        Algeria   487.79      262.32         4.06
3        Andorra  2582.32     1133.94         4.66
4         Angola    73.39       98.99         1.04
..           ...      ...         ...          ...
183    Venezuela   177.03      207.32         2.47
184      Vietnam   244.78      308.67         2.30
185        Yemen    11.20       90.25         0.43
186       Zambia    77.16       31.21         2.13
187     Zimbabwe    36.75      110.07         1.36

[188 rows x 4 columns]

In [17]:
# Remove any countries that don't match the master list
he_clean_df = he_df.drop(he_df[he_df['country'].isin(no_match)].index.tolist())
he_clean_df

                 country  govt_he  private_he  govt_he_gdp
1                Albania   392.53      324.65         2.82
2                Algeria   487.79      262.32         4.06
3                Andorra  2582.32     1133.94         4.66
4                 Angola    73.39       98.99         1.04
5    Antigua and Barbuda   594.02      421.98         2.60
..                   ...      ...         ...          ...
183            Venezuela   177.03      207.32         2.47
184              Vietnam   244.78      308.67         2.30
185                Yemen    11.20       90.25         0.43
186               Zambia    77.16       31.21         2.13
187             Zimbabwe    36.75      110.07         1.36

[173 rows x 4 columns]

In [18]:
# Write the CSV
he_clean_df.to_csv('../Cluster_Analysis_Data/health_expenditure-clean.csv', index=False)