In [1]:
import pandas as pd

life_df = pd.read_csv("https://raw.githubusercontent.com/AndrewZinc/Expect_Life/main/Raw_Data/Cleaning_Completed/life_expectancy_World_Bank.csv",)
life_df

,Country Name,Country Code,Series Name,Series Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,55.84,56.31,56.78,57.27,57.77,58.29,...,61.03,61.55,62.05,62.53,62.97,63.38,63.76,64.13,64.49,64.83
1,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,73.96,74.29,74.58,74.83,75.04,75.23,...,76.56,76.91,77.25,77.55,77.81,78.03,78.19,78.33,78.46,78.57
2,Algeria,DZA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,70.64,71.12,71.61,72.1,72.59,73.07,...,74.94,75.2,75.44,75.66,75.88,76.09,76.3,76.5,76.69,76.88
3,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,46.52,47.06,47.7,48.44,49.26,50.17,...,55.35,56.33,57.24,58.05,58.78,59.4,59.93,60.38,60.78,61.15
4,Antigua and Barbuda,ATG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,73.94,74.17,74.4,74.61,74.82,75.02,...,75.82,75.96,76.09,76.22,76.35,76.48,76.62,76.75,76.89,77.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Virgin Islands (U.S.),VIR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,76.62,77.62,77.52,77.52,77.77,77.42,...,77.87,78.32,78.52,78.72,78.87,79.02,79.17,79.37,79.52,79.67
188,West Bank and Gaza,PSE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,71.02,71.24,71.45,71.65,71.84,72.03,...,72.79,72.92,73.04,73.17,73.3,73.44,73.59,73.74,73.9,74.05
189,Yemen,YEM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,60.68,61.22,61.78,62.36,62.93,63.48,...,65.55,65.77,65.92,66.02,66.07,66.09,66.09,66.09,66.1,66.13
190,Zambia,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,44,44.62,45.4,46.32,47.35,48.5,...,55.66,57.13,58.5,59.75,60.83,61.74,62.46,63.04,63.51,63.89
191,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,44.65,44.01,43.52,43.2,43.07,43.24,...,50.64,52.9,55.03,56.9,58.41,59.53,60.29,60.81,61.2,61.49

In [2]:
gdp = pd.read_csv("https://raw.githubusercontent.com/AndrewZinc/Expect_Life/main/Clean_Data/gdp_clean.csv")
gdp

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Albania,GDP (current US$),3.480355e+09,3.922101e+09,4.348068e+09,5.611496e+09,7.184686e+09,8.052074e+09,8.896073e+09,1.067732e+10,...,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.515643e+10,1.540183e+10,1.513187e+10,1.826004e+10
1,Algeria,GDP (current US$),5.479039e+10,5.474471e+10,5.676036e+10,6.786383e+10,8.533258e+10,1.031982e+11,1.170273e+11,1.349771e+11,...,2.090590e+11,2.097550e+11,2.138100e+11,1.659793e+11,1.600342e+11,1.700970e+11,1.749109e+11,1.717674e+11,1.450092e+11,1.679831e+11
2,Andorra,GDP (current US$),1.429049e+09,1.546926e+09,1.755910e+09,2.361727e+09,2.894922e+09,3.159905e+09,3.456442e+09,3.952601e+09,...,3.188653e+09,3.193513e+09,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.329911e+09
3,Angola,GDP (current US$),9.129595e+09,8.936064e+09,1.528559e+10,1.781270e+10,2.355205e+10,3.697092e+10,5.238101e+10,6.526645e+10,...,1.249982e+11,1.334016e+11,1.372444e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10
4,Antigua and Barbuda,GDP (current US$),8.263704e+08,8.004815e+08,8.143815e+08,8.563963e+08,9.197296e+08,1.022963e+09,1.157663e+09,1.312759e+09,...,1.199948e+09,1.181448e+09,1.249733e+09,1.336693e+09,1.436585e+09,1.467978e+09,1.605944e+09,1.687533e+09,1.370281e+09,1.471126e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,Venezuela,GDP (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,Vietnam,GDP (current US$),3.117252e+10,3.268520e+10,3.506411e+10,3.955251e+10,4.542785e+10,5.763326e+10,6.637166e+10,7.741443e+10,...,1.955925e+11,2.137109e+11,2.334500e+11,2.392572e+11,2.570960e+11,2.813534e+11,3.087021e+11,3.303913e+11,3.432426e+11,3.626375e+11
180,Yemen,GDP (current US$),9.652436e+09,9.861560e+09,1.069463e+10,1.177797e+10,1.387279e+10,1.674634e+10,1.906198e+10,2.165053e+10,...,3.540134e+10,4.041524e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10,1.884051e+10,2.106169e+10
181,Zambia,GDP (current US$),3.600683e+09,4.094481e+09,4.193846e+09,4.901840e+09,6.221078e+09,8.331870e+09,1.275686e+10,1.405696e+10,...,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.120306e+10
182,Zimbabwe,GDP (current US$),6.689958e+09,6.777385e+09,6.342116e+09,5.727592e+09,5.805598e+09,5.755215e+09,5.443896e+09,5.291950e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,2.621773e+10

In [3]:
import json

# Load existing geojson point data
with open('countries (1).geojson') as f:
  data = json.load(f)

In [5]:
# for use with regex in order to add life expectancy data to geojson data
import re

for i in range(0,len(data['features'])):
  country_code = data['features'][i]['properties']['ISO_A3']
  for j in range(2000,2020):
    yr_string = str(j)
    data['features'][i]['properties'][yr_string] = {}
    try:
      expectancy = life_df.loc[life_df['Country Code'] == country_code, f'{yr_string} [YR{yr_string}]']
      expectancy = expectancy.to_json()
      expectancy = re.search("\d\d\.\d\d", expectancy).group(0)
      expectancy = float(expectancy)
      data['features'][i]['properties'][yr_string]['life_expectancy'] = expectancy
    except:
      data['features'][i]['properties'][yr_string]['life_expectancy'] = ''

In [7]:
# Write JSON file with new data
with open('polygon_data_with_life_code.geojson', 'w') as f:
  f.write(json.dumps(data))