In [1]:
# Import the dependencies

import pandas as pd

In [2]:
#data = './Data - Life-expectancy/world_bank-API_SP.DYN.LE00.IN_DS2_en_csv_v2_4700946/API_SP.DYN.LE00.IN_DS2_en_csv_v2_4700946.csv'
data1 = './Data - Life-expectancy/GHO-WPP2022_Demographic_Indicators_Medium/WPP2022_Demographic_Indicators_Medium.csv'

df = pd.read_csv(data)
df

In [3]:
df1 = pd.read_csv(data1)
df1

C:\Users\AZ\anaconda3\envs\Pythondata\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,SortOrder,LocID,Notes,ISO3_code,ISO2_code,SDMX_code,LocTypeID,LocTypeName,ParentID,Location,...,Q0060Male,Q0060Female,Q1550,Q1550Male,Q1550Female,Q1560,Q1560Male,Q1560Female,NetMigrations,CNMR
0,1,900,NaN,NaN,NaN,1.0,1,World,0,World,...,580.7496,498.0396,240.3164,271.6253,208.1916,378.6968,430.2594,324.9308,0.00,0.000
1,1,900,NaN,NaN,NaN,1.0,1,World,0,World,...,566.7283,490.1993,231.1772,258.0905,203.7797,368.3186,415.8362,319.3364,0.00,0.000
2,1,900,NaN,NaN,NaN,1.0,1,World,0,World,...,546.3173,477.2639,218.6745,240.0344,197.1422,353.0546,395.5327,309.9103,0.00,0.000
3,1,900,NaN,NaN,NaN,1.0,1,World,0,World,...,535.8289,469.5325,212.8720,232.6019,193.0492,345.0826,385.8433,303.9053,0.00,0.000
4,1,900,NaN,NaN,NaN,1.0,1,World,0,World,...,523.1236,458.4842,205.7622,224.0498,187.4439,335.4420,374.6576,295.9944,0.00,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43467,290,876,2.0,WLF,WF,876.0,4,Country/Area,957,Wallis and Futuna Islands,...,23.1199,28.0450,7.5105,6.3613,8.6783,21.0197,20.2116,21.8411,-0.01,-0.995
43468,290,876,2.0,WLF,WF,876.0,4,Country/Area,957,Wallis and Futuna Islands,...,22.7966,27.4133,7.3642,6.2703,8.4752,20.6236,19.9248,21.3338,-0.01,-1.000
43469,290,876,2.0,WLF,WF,876.0,4,Country/Area,957,Wallis and Futuna Islands,...,22.4732,26.9919,7.2513,6.1793,8.3398,20.3113,19.6379,20.9955,-0.01,-1.005
43470,290,876,2.0,WLF,WF,876.0,4,Country/Area,957,Wallis and Futuna Islands,...,22.1497,26.6620,7.1535,6.0883,8.2346,20.0363,19.3509,20.7325,-0.01,-1.011
43471,290,876,2.0,WLF,WF,876.0,4,Country/Area,957,Wallis and Futuna Islands,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
GHO_medium_df = df1[['LocID','LocTypeID','LocTypeName','ParentID','Location','TPopulation1Jan','Time','LEx']].copy()

In [5]:
GHO_medium_df

,LocID,LocTypeID,LocTypeName,ParentID,Location,TPopulation1Jan,Time,LEx
0,900,1,World,0,World,2477674.732,1950,46.4643
1,900,1,World,0,World,2520969.582,1951,47.1440
2,900,1,World,0,World,2565291.179,1952,48.2311
3,900,1,World,0,World,2615250.618,1953,48.8024
4,900,1,World,0,World,2665306.975,1954,49.5919
...,...,...,...,...,...,...,...,...
43467,876,4,Country/Area,957,Wallis and Futuna Islands,10.063,2097,89.2802
43468,876,4,Country/Area,957,Wallis and Futuna Islands,10.009,2098,89.4087
43469,876,4,Country/Area,957,Wallis and Futuna Islands,9.969,2099,89.5113
43470,876,4,Country/Area,957,Wallis and Futuna Islands,9.911,2100,89.6067
43471,876,4,Country/Area,957,Wallis and Futuna Islands,9.864,2101,NaN

In [6]:
GHO_country_df = GHO_medium_df[GHO_medium_df['LocTypeName']!='World']
GHO_country_df

,LocID,LocTypeID,LocTypeName,ParentID,Location,TPopulation1Jan,Time,LEx
152,1834,12,SDG region,1828,Sub-Saharan Africa,175662.711,1950,37.4772
153,1834,12,SDG region,1828,Sub-Saharan Africa,179321.000,1951,37.7276
154,1834,12,SDG region,1828,Sub-Saharan Africa,183092.382,1952,38.0433
155,1834,12,SDG region,1828,Sub-Saharan Africa,186958.429,1953,38.4561
156,1834,12,SDG region,1828,Sub-Saharan Africa,190891.610,1954,38.8423
...,...,...,...,...,...,...,...,...
43467,876,4,Country/Area,957,Wallis and Futuna Islands,10.063,2097,89.2802
43468,876,4,Country/Area,957,Wallis and Futuna Islands,10.009,2098,89.4087
43469,876,4,Country/Area,957,Wallis and Futuna Islands,9.969,2099,89.5113
43470,876,4,Country/Area,957,Wallis and Futuna Islands,9.911,2100,89.6067
43471,876,4,Country/Area,957,Wallis and Futuna Islands,9.864,2101,NaN

In [7]:
GHO_country_df = GHO_country_df[GHO_country_df['LocTypeName']=='Country/Area']
GHO_country_df

,LocID,LocTypeID,LocTypeName,ParentID,Location,TPopulation1Jan,Time,LEx
3648,108,4,Country/Area,910,Burundi,2229.322,1950,40.5788
3649,108,4,Country/Area,910,Burundi,2278.903,1951,40.8115
3650,108,4,Country/Area,910,Burundi,2327.593,1952,41.0034
3651,108,4,Country/Area,910,Burundi,2375.478,1953,41.2815
3652,108,4,Country/Area,910,Burundi,2422.721,1954,41.5582
...,...,...,...,...,...,...,...,...
43467,876,4,Country/Area,957,Wallis and Futuna Islands,10.063,2097,89.2802
43468,876,4,Country/Area,957,Wallis and Futuna Islands,10.009,2098,89.4087
43469,876,4,Country/Area,957,Wallis and Futuna Islands,9.969,2099,89.5113
43470,876,4,Country/Area,957,Wallis and Futuna Islands,9.911,2100,89.6067
43471,876,4,Country/Area,957,Wallis and Futuna Islands,9.864,2101,NaN

In [8]:
GHO_country_df = GHO_country_df[GHO_country_df['Time']>=1960]
GHO_country_df = GHO_country_df[GHO_country_df['Time']<=2022]
GHO_country_df

,LocID,LocTypeID,LocTypeName,ParentID,Location,TPopulation1Jan,Time,LEx
3658,108,4,Country/Area,910,Burundi,2719.733,1960,43.0242
3659,108,4,Country/Area,910,Burundi,2773.522,1961,43.2516
3660,108,4,Country/Area,910,Burundi,2858.423,1962,43.4411
3661,108,4,Country/Area,910,Burundi,2916.374,1963,43.7179
3662,108,4,Country/Area,910,Burundi,2979.891,1964,43.9744
...,...,...,...,...,...,...,...,...
43388,876,4,Country/Area,957,Wallis and Futuna Islands,11.870,2018,77.8613
43389,876,4,Country/Area,957,Wallis and Futuna Islands,11.761,2019,79.6167
43390,876,4,Country/Area,957,Wallis and Futuna Islands,11.667,2020,78.7639
43391,876,4,Country/Area,957,Wallis and Futuna Islands,11.642,2021,78.4396
43392,876,4,Country/Area,957,Wallis and Futuna Islands,11.613,2022,80.0153

In [30]:
GHO_country_df = GHO_country_df.drop(['LocTypeID','LocTypeName','ParentID'],1)
GHO_country_df

C:\Users\AZ\anaconda3\envs\Pythondata\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

       LocID                   Location  TPopulation1Jan  Time      LEx
3658     108                    Burundi         2719.733  1960  43.0242
3659     108                    Burundi         2773.522  1961  43.2516
3660     108                    Burundi         2858.423  1962  43.4411
3661     108                    Burundi         2916.374  1963  43.7179
3662     108                    Burundi         2979.891  1964  43.9744
...      ...                        ...              ...   ...      ...
43388    876  Wallis and Futuna Islands           11.870  2018  77.8613
43389    876  Wallis and Futuna Islands           11.761  2019  79.6167
43390    876  Wallis and Futuna Islands           11.667  2020  78.7639
43391    876  Wallis and Futuna Islands           11.642  2021  78.4396
43392    876  Wallis and Futuna Islands           11.613  2022  80.0153

[14931 rows x 5 columns]

In [31]:
piv_df = pd.pivot(GHO_country_df, index=['LocID','Location'], columns=['Time'])
piv_df

                                         TPopulation1Jan             \
Time                                                1960       1961
LocID Location
4     Afghanistan                               8541.748   8703.184
8     Albania                                   1682.657   1739.721
12    Algeria                                  11279.471  11509.143
16    American Samoa                              19.859     20.312
20    Andorra                                      9.062      9.823
...                                                  ...        ...
862   Venezuela (Bolivarian Republic of)        8010.311   8303.563
876   Wallis and Futuna Islands                    8.899      8.661
882   Samoa                                      111.568    115.103
887   Yemen                                     5491.710   5593.209
894   Zambia                                    3070.416   3168.443

                                                                           \
Time                                           1962       1963       1964
LocID Location
4     Afghanistan                          8877.096   9060.997   9253.932
8     Albania                              1798.436   1858.028   1918.575
12    Algeria                             11688.073  11868.447  12070.454
16    American Samoa                         20.940     21.604     22.294
20    Andorra                                10.608     11.419     12.260
...                                             ...        ...        ...
862   Venezuela (Bolivarian Republic of)   8602.650   8905.514   9214.392
876   Wallis and Futuna Islands               8.405      8.540      8.703
882   Samoa                                 118.536    121.791    125.042
887   Yemen                                5700.127   5806.644   5913.749
894   Zambia                               3270.459   3376.395   3486.368

                                                                           \
Time                                           1965       1966       1967
LocID Location
4     Afghanistan                          9457.096   9673.198   9893.096
8     Albania                              1979.450   2040.128   2101.249
12    Algeria                             12287.743  12474.769  12752.009
16    American Samoa                         23.018     23.764     24.480
20    Andorra                                13.120     14.005     15.087
...                                             ...        ...        ...
862   Venezuela (Bolivarian Republic of)   9528.274   9848.003  10173.367
876   Wallis and Futuna Islands               8.867      8.907      8.980
882   Samoa                                 128.122    131.456    134.496
887   Yemen                                6033.858   6160.738   6296.121
894   Zambia                               3599.159   3716.890   3838.470

                                                                ...      LEx  \
Time                                           1968       1969  ...     2013
LocID Location                                                  ...
4     Afghanistan                         10126.964  10368.595  ...  62.4167
8     Albania                              2163.636   2227.297  ...  78.1226
12    Algeria                             13042.222  13339.728  ...  74.6153
16    American Samoa                         25.216     26.001  ...  72.2683
20    Andorra                                16.402     17.757  ...  82.9343
...                                             ...        ...  ...      ...
862   Venezuela (Bolivarian Republic of)  10504.329  10840.978  ...  73.1962
876   Wallis and Futuna Islands               9.084      9.211  ...  76.8330
882   Samoa                                 137.009    139.298  ...  72.3915
887   Yemen                                6439.906   6591.903  ...  67.5451
894   Zambia                               3964.106   4094.239  ...  59.8777

                                                                              \
Time                                         2014     2015     2016     2017
LocID Location
4     Afghanistan                         62.5451  62.6587  63.1361  63.0160
8     Albania                             78.4075  78.6441  78.8602  79.0473
12    Algeria                             75.1100  75.6220  75.7318  75.7428
16    American Samoa                      72.3403  72.5220  72.3712  72.4830
20    Andorra                             82.9483  82.9534  82.9671  82.9803
...                                           ...      ...      ...      ...
862   Venezuela (Bolivarian Republic of)  72.8533  73.0064  72.0578  71.9430
876   Wallis and Futuna Islands           77.6413  77.9802  78.3347  77.5307
882   Samoa                               72.4628  72.5146  72.5397  72.5900
887   Yemen                               67.3842  65.8734  66.0641  65.9573
894   Zambia                              60.6990  61.2078  61.7937  62.1201

                                                                              \
Time                                         2018     2019     2020     2021
LocID Location
4     Afghanistan                         63.0810  63.5645  62.5751  61.9824
8     Albania                             79.1838  79.2825  76.9893  76.4626
12    Algeria                             76.0656  76.4742  74.4528  76.3767
16    American Samoa                      72.4915  72.3023  72.4432  72.5398
20    Andorra                             82.9923  83.0039  79.0234  80.3684
...                                           ...      ...      ...      ...
862   Venezuela (Bolivarian Republic of)  71.9788  72.1614  71.0949  70.5536
876   Wallis and Futuna Islands           77.8613  79.6167  78.7639  78.4396
882   Samoa                               72.6358  72.1572  72.7677  72.7675
887   Yemen                               64.5751  65.0917  64.6501  63.7534
894   Zambia                              62.3422  62.7926  62.3803  61.2234


Time                                         2022
LocID Location
4     Afghanistan                         62.8792
8     Albania                             76.8334
12    Algeria                             77.1294
16    American Samoa                      72.7231
20    Andorra                             83.5515
...                                           ...
862   Venezuela (Bolivarian Republic of)  71.1049
876   Wallis and Futuna Islands           80.0153
882   Samoa                               72.5978
887   Yemen                               63.7202
894   Zambia                              61.8025

[237 rows x 126 columns]

In [11]:
data2 = './Data - GDP/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4701247.csv'
df2 = pd.read_csv(data2)
df2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,...,9.839370e+11,1.003679e+12,9.242525e+11,8.823551e+11,1.020647e+12,9.910223e+11,9.975340e+11,9.216459e+11,1.082096e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,8.207927e+11,8.649905e+11,7.607345e+11,6.905464e+11,6.837487e+11,7.416899e+11,7.945430e+11,7.844457e+11,8.358084e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.334016e+11,1.372444e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09,9.007159e+09,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.041524e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10,1.884051e+10,2.106169e+10,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.048421e+11,3.879346e+11,3.354421e+11,4.199464e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.120306e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,2.621773e+10,NaN

In [9]:
GHO_country_df.to_csv('interim_GHO_LEx-slim.csv', index=False)