In [1]:
# Import our dependencies
import pandas as pd

In [ ]:
#  Import and read the input csv
le_df = pd.read_csv("../Raw_Data/life_expectancy_World_Bank.csv")
le_df

In [2]:
# Open the master list of countries
countries_df = pd.read_csv('../Clean_Data/country_profile_urls.csv')
countries_df = countries_df.drop(['profile_url'], 1)

C:\Temp\ipykernel_16820\822363187.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  countries_df = countries_df.drop(['profile_url'], 1)

In [3]:
country_list = countries_df['country'].tolist()
country_list

['Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong (China)',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyz Republic',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Taiwan (China)',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Türkiye',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Kingdom',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [4]:
# Create a list of life Expectancy countries
le_countries = le_df['Country Name'].tolist()
le_countries

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Democratic Republic of the Congo',
 'Congo',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea, Dem. People's Rep.",
 'South Korea',
 'Kuwait',
 'Kyrgyz Republic',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Türkiye',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [5]:
# clean the LE data based on the SS country list
no_match = []

for country in le_countries:
    if country in country_list:
        continue
    else:
        no_match.append(country)

In [6]:
# Likely need to do manual country name clean-up for accented characters and abbreviations.
no_match

['Afghanistan',
 'Bosnia and Herzegovina',
 'Channel Islands',
 'Comoros',
 'Eritrea',
 'French Polynesia',
 'Guam',
 'Iraq',
 "Korea, Dem. People's Rep.",
 'Maldives',
 'Mongolia',
 'Montenegro',
 'New Caledonia',
 'Northern Mariana Islands',
 'Puerto Rico',
 'Sint Maarten (Dutch part)',
 'Somalia',
 'Timor-Leste',
 'Tonga',
 'United Arab Emirates',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza']

In [7]:
le_clean_df = le_df.drop(le_df[le_df['Country Name'].isin(no_match)].index.tolist())
le_clean_df

,Country Name,Country Code,Series Name,Series Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
1,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,73.96,74.29,74.58,74.83,75.04,75.23,...,76.56,76.91,77.25,77.55,77.81,78.03,78.19,78.33,78.46,78.57
2,Algeria,DZA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,70.64,71.12,71.61,72.1,72.59,73.07,...,74.94,75.2,75.44,75.66,75.88,76.09,76.3,76.5,76.69,76.88
3,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,46.52,47.06,47.7,48.44,49.26,50.17,...,55.35,56.33,57.24,58.05,58.78,59.4,59.93,60.38,60.78,61.15
4,Antigua and Barbuda,ATG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,73.94,74.17,74.4,74.61,74.82,75.02,...,75.82,75.96,76.09,76.22,76.35,76.48,76.62,76.75,76.89,77.02
5,Argentina,ARG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,73.58,73.76,73.93,74.11,74.28,74.45,...,75.28,75.44,75.6,75.76,75.91,76.07,76.22,76.37,76.52,76.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,Venezuela,VEN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,72.11,72.29,72.47,72.62,72.75,72.85,...,73.13,73.11,73.04,72.92,72.76,72.58,72.41,72.25,72.13,72.06
186,Vietnam,VNM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,73.03,73.23,73.44,73.65,73.88,74.09,...,74.84,74.9,74.96,75.01,75.06,75.11,75.17,75.24,75.32,75.4
189,Yemen,YEM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,60.68,61.22,61.78,62.36,62.93,63.48,...,65.55,65.77,65.92,66.02,66.07,66.09,66.09,66.09,66.1,66.13
190,Zambia,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,44,44.62,45.4,46.32,47.35,48.5,...,55.66,57.13,58.5,59.75,60.83,61.74,62.46,63.04,63.51,63.89
191,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,44.65,44.01,43.52,43.2,43.07,43.24,...,50.64,52.9,55.03,56.9,58.41,59.53,60.29,60.81,61.2,61.49

In [8]:
le_clean_df.to_csv('le_clean.csv', index=False)

In [2]:
le_clean_df = pd.read_csv('le_clean.csv')
le_clean_df = le_clean_df.drop(['Country Code','Series Name'], 1)
le_clean_df

C:\Temp\ipykernel_14100\4090272377.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  le_clean_df = le_clean_df.drop(['Country Code','Series Name'], 1)

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Albania,73.96,74.29,74.58,74.83,75.04,75.23,75.42,75.65,75.91,...,76.56,76.91,77.25,77.55,77.81,78.03,78.19,78.33,78.46,78.57
1,Algeria,70.64,71.12,71.61,72.10,72.59,73.07,73.52,73.94,74.31,...,74.94,75.20,75.44,75.66,75.88,76.09,76.30,76.50,76.69,76.88
2,Angola,46.52,47.06,47.70,48.44,49.26,50.17,51.14,52.18,53.24,...,55.35,56.33,57.24,58.05,58.78,59.40,59.93,60.38,60.78,61.15
3,Antigua and Barbuda,73.94,74.17,74.40,74.61,74.82,75.02,75.20,75.38,75.54,...,75.82,75.96,76.09,76.22,76.35,76.48,76.62,76.75,76.89,77.02
4,Argentina,73.58,73.76,73.93,74.11,74.28,74.45,74.62,74.79,74.95,...,75.28,75.44,75.60,75.76,75.91,76.07,76.22,76.37,76.52,76.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,Venezuela,72.11,72.29,72.47,72.62,72.75,72.85,72.94,73.01,73.07,...,73.13,73.11,73.04,72.92,72.76,72.58,72.41,72.25,72.13,72.06
165,Vietnam,73.03,73.23,73.44,73.65,73.88,74.09,74.30,74.47,74.63,...,74.84,74.90,74.96,75.01,75.06,75.11,75.17,75.24,75.32,75.40
166,Yemen,60.68,61.22,61.78,62.36,62.93,63.48,64.00,64.47,64.89,...,65.55,65.77,65.92,66.02,66.07,66.09,66.09,66.09,66.10,66.13
167,Zambia,44.00,44.62,45.40,46.32,47.35,48.50,49.76,51.13,52.61,...,55.66,57.13,58.50,59.75,60.83,61.74,62.46,63.04,63.51,63.89
168,Zimbabwe,44.65,44.01,43.52,43.20,43.07,43.24,43.85,44.95,46.50,...,50.64,52.90,55.03,56.90,58.41,59.53,60.29,60.81,61.20,61.49

In [3]:
le_clean_transform_df = le_clean_df.set_index('Country Name').T
le_clean_transform_df

Country Name,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
2000,73.96,70.64,46.52,73.94,73.58,71.41,73.79,79.23,78.13,66.76,...,77.74,76.64,74.73,67.16,67.36,72.11,73.03,60.68,44.00,44.65
2001,74.29,71.12,47.06,74.17,73.76,71.80,73.85,79.63,78.58,67.05,...,77.99,76.84,74.94,67.37,67.58,72.29,73.23,61.22,44.62,44.01
2002,74.58,71.61,47.70,74.40,73.93,72.11,73.94,79.94,78.68,67.39,...,78.14,76.94,75.15,67.61,67.79,72.47,73.44,61.78,45.40,43.52
2003,74.83,72.10,48.44,74.61,74.11,72.35,74.04,80.24,78.63,67.79,...,78.45,77.04,75.37,67.87,67.99,72.62,73.65,62.36,46.32,43.20
2004,75.04,72.59,49.26,74.82,74.28,72.51,74.16,80.49,79.18,68.25,...,78.75,77.49,75.60,68.14,68.18,72.75,73.88,62.93,47.35,43.07
2005,75.23,73.07,50.17,75.02,74.45,72.63,74.29,80.84,79.33,68.75,...,79.05,77.49,75.83,68.41,68.35,72.85,74.09,63.48,48.50,43.24
2006,75.42,73.52,51.14,75.20,74.62,72.72,74.43,81.04,79.88,69.26,...,79.25,77.69,76.05,68.68,68.52,72.94,74.30,64.00,49.76,43.85
2007,75.65,73.94,52.18,75.38,74.79,72.82,74.58,81.29,80.18,69.75,...,79.45,77.99,76.25,68.94,68.67,73.01,74.47,64.47,51.13,44.95
2008,75.91,74.31,53.24,75.54,74.95,72.95,74.73,81.40,80.43,70.20,...,79.60,78.04,76.44,69.19,68.82,73.07,74.63,64.89,52.61,46.50
2009,76.22,74.64,54.31,75.68,75.12,73.12,74.87,81.54,80.33,70.60,...,80.05,78.39,76.60,69.44,68.97,73.12,74.75,65.26,54.13,48.45
2010,76.56,74.94,55.35,75.82,75.28,73.33,75.02,81.70,80.58,70.94,...,80.40,78.54,76.75,69.67,69.12,73.13,74.84,65.55,55.66,50.64
2011,76.91,75.20,56.33,75.96,75.44,73.57,75.16,81.90,80.98,71.23,...,80.95,78.64,76.88,69.91,69.27,73.11,74.90,65.77,57.13,52.90
2012,77.25,75.44,57.24,76.09,75.60,73.82,75.30,82.05,80.94,71.51,...,80.90,78.74,77.00,70.16,69.42,73.04,74.96,65.92,58.50,55.03
2013,77.55,75.66,58.05,76.22,75.76,74.06,75.44,82.15,81.14,71.77,...,81.00,78.74,77.12,70.41,69.57,72.92,75.01,66.02,59.75,56.90
2014,77.81,75.88,58.78,76.35,75.91,74.27,75.58,82.30,81.49,72.02,...,81.30,78.84,77.24,70.67,69.72,72.76,75.06,66.07,60.83,58.41
2015,78.03,76.09,59.40,76.48,76.07,74.47,75.73,82.40,81.19,72.27,...,80.96,78.69,77.37,70.93,69.87,72.58,75.11,66.09,61.74,59.53
2016,78.19,76.30,59.93,76.62,76.22,74.64,75.87,82.45,81.64,72.49,...,81.16,78.54,77.50,71.17,70.02,72.41,75.17,66.09,62.46,60.29
2017,78.33,76.50,60.38,76.75,76.37,74.80,76.01,82.50,81.64,72.69,...,81.26,78.54,77.63,71.39,70.17,72.25,75.24,66.09,63.04,60.81
2018,78.46,76.69,60.78,76.89,76.52,74.95,76.15,82.75,81.69,72.86,...,81.26,78.64,77.77,71.57,70.32,72.13,75.32,66.10,63.51,61.20
2019,78.57,76.88,61.15,77.02,76.67,75.09,76.29,82.90,81.90,73.01,...,81.20,78.79,77.91,71.73,70.47,72.06,75.40,66.13,63.89,61.49

In [4]:
le_clean_transform_df.to_csv('le_clean-transform.csv')